# Włącz przepisywanie adresów
RewriteEngine On

# Jeśli użytkownik wchodzi na katalog bez podania pliku
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Automatycznie dodaj index.html
RewriteRule ^(.*)/?$ $1/index.html [L]

# Włącz przepisywanie adresów
RewriteEngine On

# Usuń rozszerzenie .html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ $1.html [L]
